/**
 * @name system24 oxocarbon
 * @description a tui-like discord theme, using the oxocarbon color palette.
 * @author justdeeevin & refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/justdeeevin/system24-oxocarbon
 * @source https://github.com/justdeeevin/system24-oxocarbon/blob/master/system24-oxocarbon.theme.css
*/

/* import theme modules */
@import url("https://refact0r.github.io/system24/build/system24.css");

body {
      /* font, change to '' for default discord font */
      /* change to '' for default discord font */
      --font: "DM Mono";
      /* change to '' for default discord font */
      --code-font: "DM Mono";
      /* text font weight. 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
      font-weight: 300;
      /* decreases letter spacing for better readability. recommended on monospace fonts.*/
      letter-spacing: -0.05ch;

      /* sizes */
      /* spacing between panels */
      --gap: 12px;
      /* thickness of unread messages divider and highlighted message borders */
      --divider-thickness: 4px;
      /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
      --border-thickness: 2px;
      /* transition for borders when hovered */
      --border-hover-transition: 0.2s ease;

      /* animation/transition options */
      /* off: disable animations/transitions, on: enable animations/transitions */
      --animations: on;
      /* transition for list items */
      --list-item-transition: 0.2s ease;
      /* transition for the dms icon */
      --dms-icon-svg-transition: 0.4s ease;

      /* top bar options */
      /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
      --top-bar-height: var(--gap);
      /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
      --top-bar-button-position: titlebar;
      /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
      --top-bar-title-position: off;
      /* off: default, on: hide the icon and use subtle text color (like old discord) */
      --subtle-top-bar-title: off;

      /* window controls */
      /* off: default window controls, on: custom window controls */
      --custom-window-controls: off;
      /* size of custom window controls */
      --window-control-size: 14px;

      /* dms button options */
      /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
      --custom-dms-icon: off;
      /* icon svg url. MUST BE A SVG. */
      --dms-icon-svg-url: url("");
      /* size of the svg (css mask-size property) */
      --dms-icon-svg-size: 90%;
      /* normal icon color */
      --dms-icon-color-before: var(--icon-secondary);
      /* icon color when button is hovered/selected */
      --dms-icon-color-after: var(--white);
      /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
      --custom-dms-background: off;
      /* url of the background image */
      --dms-background-image-url: url("");
      /* size of the background image (css background-size property) */
      --dms-background-image-size: cover;
      /* fixed color/gradient (css background property) */
      --dms-background-color: linear-gradient(70deg,
                  var(--blue-2),
                  var(--purple-2),
                  var(--red-2));

      /* background image options */
      /* off: no background image, on: enable background image (must set url variable below) */
      --background-image: off;
      /* url of the background image */
      --background-image-url: url("");

      /* transparency/blur options */
      /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
      /* off: no changes, on: remove some elements for better transparency */
      --transparency-tweaks: off;
      /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
      --remove-bg-layer: off;
      /* off: no changes, on: blur the background of panels */
      --panel-blur: off;
      /* amount of blur */
      --blur-amount: 12px;
      /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */
      --bg-floating: var(--bg-3);

      /* other options */
      /* off: default user panel, on: smaller user panel like in old discord */
      --small-user-panel: on;

      /* unrounding options */
      /* off: default, on: remove rounded corners from panels */
      --unrounding: on;

      /* styling options */
      /* off: default, on: custom text-like spotify progress bar */
      --custom-spotify-bar: on;
      /* off: default, on: use ascii font for titles at the start of a channel */
      --ascii-titles: on;
      /* off: default, system24: use system24 ascii loader, cats: use cats loader */
      --ascii-loader: system24;

      /* panel labels */
      /* off: default, on: add labels to panels */
      --panel-labels: on;
      /* color of labels */
      --label-color: var(--text-muted);
      /* font weight of labels */
      --label-font-weight: 500;
}

/* color options */
:root {
      --colors: on;
      /* off: discord default colors, on: midnight custom colors */

      /* text colors */
      /* text on colored elements */
      --text-0: var(--bg-4);
      /* other normally white text */
      --text-1: #ffffff;
      /* headings and important text */
      --text-2: var(--text-1);
      /* normal text */
      --text-3: #f2f4f8;
      /* icon buttons and channels */
      --text-4: #8d8d8d;
      /* muted channels/chats and timestamps */
      --text-5: #525252;

      /* background and dark colors */
      /* dark buttons when clicked */
      --bg-1: var(--bg-2);
      /* dark buttons */
      --bg-2: #393939;
      /* spacing, secondary elements */
      --bg-3: oklch(23% 0 0);
      /* main background color */
      --bg-4: #161616;
      /* channels and buttons when hovered */
      --hover: #262626;
      /* channels and buttons when clicked or selected */
      --active: var(--bg-2);
      /* extra state for transparent buttons */
      --active-2: var(--active);
      /* messages when hovered */
      --message-hover: var(--hover);

      /* accent colors */
      /* links and other accent text */
      --accent-1: var(--purple-1);
      /* small accent elements */
      --accent-2: var(--purple-2);
      /* accent buttons */
      --accent-3: var(--purple-3);
      /* accent buttons when hovered */
      --accent-4: var(--purple-4);
      /* accent buttons when clicked */
      --accent-5: var(--purple-5);
      /* stuff that's normally red like mute/deafen buttons */
      --accent-new: var(--red-2);
      /* background of messages that mention you */
      --mention: linear-gradient(to right,
                  color-mix(in hsl, var(--accent-2), transparent 90%) 40%,
                  transparent);
      /* background of messages that mention you when hovered */
      --mention-hover: linear-gradient(to right,
                  color-mix(in hsl, var(--accent-2), transparent 95%) 40%,
                  transparent);
      /* background of messages that reply to you */
      --reply: linear-gradient(to right,
                  color-mix(in hsl, var(--text-3), transparent 90%) 40%,
                  transparent);
      /* background of messages that reply to you when hovered */
      --reply-hover: linear-gradient(to right,
                  color-mix(in hsl, var(--text-3), transparent 95%) 40%,
                  transparent);

      /* status indicator colors */
      /* change to #40a258 for default */
      --online: var(--green-2);
      /* change to #d83a41 for default */
      --dnd: var(--red-2);
      /* change to #cc954c for default */
      --idle: var(--yellow-2);
      /* change to ##9147ff for default */
      --streaming: var(--purple-2);
      /* change to #82838b for default offline color */
      --offline: #6f6f6f;

      /* border colors */
      /* general light border color */
      --border-light: var(--hover);
      /* general normal border color */
      --border: var(--active);
      /* border color of panels when hovered */
      --border-hover: var(--accent-2);
      /* neutral border color of buttons */
      --button-border: hsl(220,
                  0%,
                  100%,
                  0.1);

      /* base colors */
      /* For most of these, I've only set <color>-2 bc the others are unused :P */

      --red-1: oklch(75% 0.13 0);
      --red-2: #3ddbd9;
      --red-3: oklch(65% 0.13 0);
      --red-4: oklch(60% 0.13 0);
      --red-5: oklch(55% 0.13 0);

      --green-1: oklch(75% 0.12 170);
      --green-2: #33b1ff;
      --green-3: oklch(65% 0.12 170);
      --green-4: oklch(60% 0.12 170);
      --green-5: oklch(55% 0.12 160);

      --blue-1: oklch(75% 0.11 215);
      --blue-2: oklch(70% 0.11 215);
      --blue-3: oklch(65% 0.11 215);
      --blue-4: oklch(60% 0.11 215);
      --blue-5: oklch(55% 0.11 215);

      --yellow-1: oklch(80% 0.12 90);
      --yellow-2: #ee5396;
      --yellow-3: oklch(70% 0.12 90);
      --yellow-4: oklch(65% 0.12 90);
      --yellow-5: oklch(60% 0.12 90);

      --purple-1: #ff7eb6;
      --purple-2: #be95ff;
      --purple-3: var(--purple-1);
      --purple-4: var(--yellow-2);
      --purple-5: var(--purple-4);
}
